<h1>VISTA CARRITO</h1>

<h2>{{carts.produts.product}}</h2>


{{#each cart.products}}
      <tr>
        <th>{{product._id}}</th>
               
      </tr>
    {{/each}}




<script src="/static/js/cartView.js"></script>