
<h1>{{body}}</h1>

<h2>Bienvenido: {{user.name}} {{user.lastName}}</h2>

<h2>Testing</h2>

<h3>Estrategia Autenticacion</h3>


<a href="/profile">
<h2>Profile</h2>
</a>



<a href="Products">
<h2>Products</h2>
</a>



<script src="static/js/home.js"></script>