
<h1>{{body}}</h1>

<h2>Testing</h2>

<h3>Complementario: primera práctica integradora</h3>
<h2>PENDIENTE   VENCE EL JUEVES 06/04/2023 A LAS 23:59HS</h2>


<h3>http://localhost:8080/addproduct</h3>
<p>Persistencia MongoDB</p>
<p>Schema Mongoose</p>

<h3>http://localhost:8080/realtimeproducts</h3>
<p>implementacion socket io en remplazo de la consigna sobre CHAT.HANDLEBARS</p>


<script src="static/js/home.js"></script>