
<h1>{{body}}</h1>

<h2>Testing</h2>

<h3>Desafio Entregable WEBSOCKET</h3>

<h3>http://localhost:8080/realtimeproducts</h3>

<h4>http://localhost:8080/register</h4>


<script src="static/js/home.js"></script>