<h2 class="text-center">Lista de productos</h2>

<div class="container pt-5" id="tableContainer">
  
  
</div>

<!-- Modal Add Product -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Product</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="row g-3 needs-validation justify-content-center"
          novalidate
        >
          <div class="row text-center">
            <div class="col-6">
              <label for="title" class="form-label">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                value=""
                required
              />
            </div>
            <div class="col-6">
              <label for="Description" class="form-label">Description</label>
              <input
                type="text"
                class="form-control"
                id="description"
                value=""
                required
              />
            </div>
          </div>
          <div class="row text-center">
            <div class="col-6">
              <label for="stock" class="form-label">Stock</label>
              <input
                type="number"
                class="form-control"
                id="stock"
                value=""
                required
              />
            </div>
            <div class="col-6">
              <label class="form-label">Price</label>
              <input
                type="number"
                class="form-control"
                id="price"
                value=""
                required
              />

            </div>
          </div>
          <div class="row text-center">
            <div class="col-6">
              <label for="code" class="form-label">Code</label>
              <input
                type="text"
                class="form-control"
                id="code"
                value=""
                required
              />
            </div>
            <div class="col-6">
              <label for="category" class="form-label">Category</label>
              <input
                type="text"
                class="form-control"
                id="category"
                value=""
                required
              />
            </div>
          </div>
          <div class="row text-center">
            <div class="col-6">
              <label class="form-label">Thumbnails</label>
              <input
                type="text"
                class="form-control"
                id="thumbnails"
                value="Sin-Imagen"
              />
            </div>
            <div class="col-6">
              <label for="status">status</label>
              <select name="status" class="form-select" id="status" required>
                <option selected disabled value="">Selecciones...</option>
                <option>true</option>
                <option>false</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btnAddProductForm">Agregar
          Producto</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/productsList.js"></script>